In [1]:
import csv
import dask
import pandas as pd
from dask import dataframe as dd

In [2]:
papers = dd.read_csv('/mnt/e/MAG/mag-2021-01-05/mag/Papers.txt', quoting=csv.QUOTE_NONE, header=None, sep='\t', dtype={16: 'object',
       17: 'object',
       7: 'float64'})
papers.head()

papers_title_year = papers[[0, 4, 7]]
papers_title_year = papers_title_year[papers_title_year[7] >= 1960]
papers_title_year.head()

            0                                                  4       7
0  2906390199  the impact of different organizational forms o...  2004.0
1      760496  the impact of different organizational forms o...  2004.0
2     2789336  inheritance and polymorphism in datalog an exp...  2008.0
3  2257060365  inheritance and polymorphism in datalog an exp...  2009.0
4     9552966  the effect of milk on plasmatic and tissue lev...  2005.0

In [4]:
sample = papers_title_year.sample(frac=0.01)
sample.to_csv('papers_title_year_mag_sample_1960_20210105.csv', single_file=True, index=None, header=None, sep='\t')

['/mnt/e/Ana/author_dep/papers_title_year_mag_sample_1960_20210105.csv']

In [5]:
papers_title_year_valid = pd.read_csv('papers_title_year_mag_sample_1960_20210105.csv', sep='\t', header=None)
valid_ids = set(papers_title_year_valid[0].tolist())

In [6]:
abstracts = dd.read_csv('/mnt/e/MAG/mag-2021-01-05/nlp/PaperAbstractsInvertedIndex.txt.*', sep='\t', header=None)
valid_abs = abstracts[abstracts[0].isin(valid_ids)]
valid_abs.to_csv('papers_abst_mag_sample_1960_20210105.csv', single_file=True, index=None, header=None, sep='\t')

['/mnt/e/Ana/author_dep/papers_abst_mag_sample_1970_20210105.csv']

In [7]:
papers_fields = dd.read_csv('data/PaperFOS_split/*.csv', sep='\t', header=None)
papers_fields.head()

     0                                                  1
0   15  {"138885662": 0.25, "142362112": 0.25, "177444...
1   23  {"71924100": 0.8, "86803240": 0.15, "185592680...
2   58  {"33923547": 0.2, "121332964": 0.6000000000000...
3   79  {"86803240": 0.4, "185592680": 0.1, "71924100"...
4  108  {"138885662": 0.525, "142362112": 0.3666666666...

In [8]:
valid_fields = papers_fields[papers_fields[0].isin(valid_ids)]
valid_fields.to_csv('papers_fields_mag_sample_1960_20210105.csv', single_file=True, index=None, header=None, sep='\t')

['/mnt/e/Ana/author_dep/papers_fields_mag_sample_1960_20210105.csv']